<html>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/materialize.min.css"/>
  <head>
    <title>Video Streaming Database Demonstration</title>
  </head>
  <body>
	  <div class="container center">
    <h1>Media Listing Editor</h1>
    	  <form id="Form">
		  <input name="filename" style="width: 50%" type="text" placeholder="Enter Filename Here..."></input>
	  	  <button type=button id="add" class="indigo waves-effect waves-light btn" value="null">Add File</button>
	  </form>
	  <form id="Form2">
		  <input name="filename" style="width: 50%" type="text" placeholder="Enter Filename Here..."></input>
	  	  <button type=button id="remove" class="indigo waves-effect waves-light btn" value="null">Remove File</button>
	  </form>
	  <p id="ReturnText"></p>
	  <table id="MediaTable" class=pictures>
	    <tr>
		    <td>Date</td>
		    <td>File Name</td>
	    </tr>
	    {% for entry in pictures %}
	    <tr>
		    <td>{{ entry.date }} </td>
		    <td><a href="/media/{{ entry.fileName }}" target="_blank">{{ entry.fileName }}</a></td>
	    </tr>
	    {% else %}
	    <tr>
	    <td>No pictures yet
	    </tr>
	    {% endfor %}
	  </table>
	  <button type=button id="new" class="indigo waves-effect waves-light btn" value="null">New Database</button>
	  </div> <!-- container -->
  </body>

	<script src="/static/js/database.js"></script>

</html>
