<html>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
    <form id="Form">
	    <input name="filename" type="text" value="filename"></input>
	    <button type=button id="snapshot" value="null">Take Snapshot</button>
	    <p id="ReturnText"></p>
    </form>
  </body>


  <script>
	$.fn.serializeObject = function()
	{
	    var o = {};
	    var a = $("#Form").serializeArray();
	    $.each(a, function() {
		if (o[this.name] !== undefined) {
		    if (!o[this.name].push) {
			o[this.name] = [o[this.name]];
		    }
		    o[this.name].push(this.value || '');
		} else {
		    o[this.name] = this.value || '';
		}
	    });
	    return o;
	};

	$('#snapshot').click(function() {
		url_params = $("#Form").serialize();
		//filename = formvals[0].value;

		$.ajax({
			url: '/snapshot',
			data: JSON.stringify(url_params, null, '\t'),
			type: 'GET',
                        contentType:'application/json;charset=UTF-8',
			success: function(response) {
				console.log(response);
				filename = url_params.substring(url_params.indexOf('=') + 1);
				$('#ReturnText').replaceWith("<h4 id='ReturnText'><strong> Picture: " + filename  +".jpg written. </strong></h4>");
				console.log(JSON.stringify(url_params, null, '\t'));
			},
			error: function(error) {
				console.log(error.responseText);
			}
		});
	});
	
  </script>

</html>
