<html>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/materialize.min.css"/>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
	  <div class="container center">
    <h1>Video Streaming</h1>
    <img src="{{ url_for('video_feed') }}">
    <form id="Form">
	    <input name="filename" style="width: 50%" type="text" placeholder="Enter Filename Here..."></input>
	    <button type=button id="snapshot" class="waves-effect waves-light btn" value="null">Take Snapshot</button>
	    <p id="ReturnText"></p>
    </form>

	  </div> <!-- container -->
  </body>


  <script>

	$('#snapshot').click(function() {
		url_params = $("#Form").serialize();
		//filename = formvals[0].value;
		filename = $("#Form").serializeArray()[0].value;

		if(filename === ""){
			$('#ReturnText').replaceWith("<h4 id='ReturnText'><strong> Filename must not be left empty. </strong></h4>");

		}else{
		$.ajax({
			url: '/snapshot',
			data: JSON.stringify(url_params, null, '\t'),
			type: 'GET',
                        contentType:'application/json;charset=UTF-8',
			success: function(response) {
				console.log(response);
				//filename = url_params.substring(url_params.indexOf('=') + 1);
				$('#ReturnText').replaceWith("<h4 id='ReturnText'><strong> Picture: " + filename  +".jpg written. </strong></h4>");
				console.log(JSON.stringify(url_params, null, '\t'));
			},
			error: function(error) {
				console.log(error.responseText);
			}
		});
		}
	});
	
  </script>

</html>
